<!DOCTYPE html>
  <head>
    <title> Register Here</title>
  </head>
  <body>
    <label>Register</label>
    <form method="POST" action="/register">
    <input type="email" name="email"
    placeholder="email">
    <br>
    <input type="password" name="password"
    placeholder="password">
    <input type="submit" name="login">
    </form>
    <div>
      <a href='/login' class="btn btn-outline-primary">click here to login</a>
    </div>
  </body>
  </html>