<!DOCTYPE html>
  <head>
    <title> Register Here</title>
  </head>
  <body>
    <label>Register</label>
    <form method="POST" action="/register">
    <input type="email" name="email"
    placeholder="email">
    <br>
    <input type="password" name="password"
    placeholder="password">

    <input type="submit" name="login">
    </form>
  </body>

  </html>